.projectContainer {
  width: 100%;
  background-color: rgb(16, 0, 31);
  /* padding: 7rem; */
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem;
}

.projectContainer .work {
  color: rgb(201, 98, 248);
}
.projectInfo {
  background-color: rgb(16, 0, 31);
  padding-top: 10rem;
  color: #fff;
  text-align: center;
  margin-top: -4rem;
}
.button-more {
  padding: 10px 20px;
  background-color: rgb(201, 98, 248);
  color: #fff;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 1288px) {
  .projectContainer {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 1199px) {
  .projectContainer {
    padding: 3rem 6rem;
  }
}
@media screen and (max-width: 996px) {
  .projectContainer {
    padding: 3rem 1rem; 
  }
}
@media screen and (max-width: 895px) {
  .projectContainer {
    padding: 2.3rem;
  }
}
@media screen and (max-width: 870px) {
  .projectContainer {
    padding: 1rem;
  }
}
@media screen and (max-width: 728px) {
  .projectContainer {
    justify-content: center;
  }
}
