.aboutContainer {
  width: 100%;
  background-color: rgb(16, 0, 31);
}
.aboutContainer .aboutInfo .aboutLeftInfo h1 {
  color: #fff;
}
.aboutLeftInfoTitle .iAm {
  color: rgb(201, 98, 248);
  font-weight: 400;
  text-align: center;
}
.aboutLeftInfoTitle {
  text-align: center;
  padding: 2rem 0;
}
.aboutInfo {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  width: 100%;
  padding: 9rem 4rem;
  justify-content: space-around;
}
.aboutInfo .aboutLeftInfo {
  width: 50%;
}
.aboutInfo .aboutRightInfo {
  width: 50%;
  text-align: center;
}
.clr {
  color: rgb(201, 98, 248);
}
.aboutRightInfo img {
  width: 80%;
}
.aboutLeftInfo .myInfo {
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
  padding-bottom: 2rem;
}
.aboutLeftInfo .hobbiesList {
  display: flex;
  color: #fff;
  flex-direction: column;
  padding-left: 3rem;
}
.aboutInfo .hobbiesList .handIcons {
  padding-bottom: 1rem;
}
.quote p {
  color: rgb(201, 98, 248);
  font-size: 1rem;
}
.quote {
  text-align: center;
  padding: 1rem 0;
}
.quote .name {
  color: rgb(201, 98, 248);
}

/* Responsive  */

@media screen and (max-width: 360px) {
  .aboutInfo {
    flex-direction: column;
    padding: 3rem 1.5rem;
  }
  .aboutInfo .aboutLeftInfo {
    width: 100%;
  }
  .aboutInfo .aboutRightInfo {
    width: 100%;
  }
  .quote p {
    font-size: 13px;
  }
  .quote .name {
    font-size: 12px;
  }
  .aboutLeftInfo .myInfo {
    font-size: 13px;
  }
  .aboutInfo .hobbiesList .handIcons {
    font-size: 13px;
  }
  .aboutLeftInfoTitle h1 {
    font-size: 19px;
    font-weight: 400;
  }
}
@media screen and (max-width: 1044px) {
  .aboutInfo .aboutRightInfo {
    width: 50%;
  }
  .aboutLeftInfo .myInfo {
    font-size: 15px;
  }
  .aboutRightInfo img {
    width: 100%;
  }
}
.about-me {
  width: 100%;
  padding: 1rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.about-me p {
  margin: 1rem 0;
  font-size: 17px;
}
.about-me .colored-text {
  color: rgb(201, 98, 248);
  font-weight: 600;
}
@media screen and (max-width: 950px) {
  .aboutInfo {
    flex-direction: column;
  }
  .aboutInfo .aboutLeftInfo {
    width: 100%;
  }
  .aboutInfo .aboutRightInfo {
    width: 100%;
    margin-top: 2rem;
  }
  .aboutRightInfo img {
    width: 100%;
  }
}
@media screen and (max-width: 685px) {
  .about-me {
    padding: 1rem 5rem;
  }
}
@media screen and (max-width: 510px) {
  .aboutInfo {
    padding: 9rem 2rem;
  }
  .about-me {
    padding: 1rem 3rem;
  }
  .about-me p {
    font-size: 15px;
  }
}
@media screen and (max-width: 425px) {
  .aboutLeftInfo .myInfo {
    font-size: 14px;
  }
  .aboutInfo {
    padding: 5rem 2rem;
  }
  .aboutInfo {
    padding: 5rem 20px;
  }
}
