@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.navContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgb(15, 1, 31);
}
.reactNavIcons {
  color: #fff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.reactNavIcons.gitBranch {
  border: 1px solid #fff;
  padding: 4px 20px;
  background-color: rgba(201, 98, 248, 0.255);
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}
.reactNavIcons.gitBranch:hover {
  transform: translateY(-2px);
  transition: 0.3s;
  background-color: rgba(201, 98, 248, 0.414);
}
.navContainer.bg {
  backdrop-filter: blur(8px);
  transition: 0.8s;
  background-color: rgba(62, 15, 109, 0.073);
}
.navContainer a {
  text-decoration: none;
}
.navContainer h2 {
  padding: 0 20px;
  text-decoration: none;
  color: rgb(201, 98, 248);
  font-weight: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
}

.navUl {
  display: flex;
  align-items: center;
}
.navUl li {
  list-style: none;
  padding: 0 1.5rem;
  display: flex;
}
.navUl li a:hover {
  color: rgb(209, 209, 209);
}
.navUl li a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  color: #ececec;
  display: flex;
  font-family:Verdana
}
.navUl li a :hover {
  color: rgb(153, 235, 19);
}
.navUl li:hover {
  text-decoration: underline;
  text-decoration-color: rgb(209, 209, 209);
}

.hamBurger {
  display: none;
}

/* NavBar responsive code  */

@media screen and (max-width: 1045px) {
  .navUl {
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    transition: 0.4s;
    padding-top: 5rem;
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    background-color: rgb(16, 0, 31);
  }
  .navContainer {
    padding: 1rem 0.3rem;
  }
  .navContainer h2 {
    font-size: 20px;

    text-decoration: none;
    font-weight: 500;
  }
  .wave {
    font-size: 30px;
  }
  .navUl.active {
    left: -100%;
  }
  .navUl li {
    padding: 1rem 0;
  }
  .navUl li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
  }
  .hamBurger {
    padding: 10px 10px;
    display: initial;
  }
}
@media screen and (max-width: 500px) {
  .navUl li a {
    font-size: 15px;
  }
  .navTitle h2 {
    font-size: 15px;
    font-weight: 900;
  }
}
